/*Section1: Styling for centering elements*/
.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Section2: Styling for password length input container*/
.pwd-length {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/*Section3: Styling for password length input*/
#length {
    width: 100%;
    margin-top: 10px;
}